<div class="timer">Hiya</div>
<button ng-click="playCard(selectedCard)" ng-disabled="game.whoseTurn != uid || !selected || game.winner">Play Card</button><div class="card" ng-show="selectedCard" ng-style="{'background-image':'url(/images/'+ selectedCard.name +'1.png)'}">
</div>

<div id="scores">Your Score: {{game.score[uid]}} Their Score: {{game.score[opp]}}</div>

<div id="times">Your Time: {{game.times[uid]}}seconds Their Time: {{game.times[opp]}}seconds</div>

<div id="xVal">X = {{game.x}}</div>

<div id="goals">Your Goal: {{game[uid]}} Their Goal: {{game[opp]}} </div>
Hand:
<div id="hand" class="btn-group" role="group"> 
    <div ng-class="{selected: selectedCard == card, card: true}" ng-style="{'background-image':'url(/images/'+ card.name +'1.png)'}" ng-repeat="card in yourHand track by $index" ng-click="selectCard(card)">
    </div>
</div>

<div id="played" class="btn-group" role="group">
    <div ng-class="{selected: selectedCard == card, card: true}" ng-style="{'background-image':'url(/images/'+ card.name +'1.png)'}" class="playedCards" ng-repeat="card in game.playedCards track by $index" ng-click="highlightCard(card)">       
    X = {{card.x}}</div>
</div>
